body {
    margin: 0;
    font-family: 'ClashDisplay-Variable';
    background: #FFFFFF
}

.section1 .container {
    width: 1100px;
    margin: 0 auto;
    /*set section to center*/
    position: relative;
}

.section1 .header {
    display: flex;
    margin-top: 57px;

}

.section1 .logo-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
}

.section1 .logo-block .tm {
    margin-top: -25px;
}

.section1 .header .menu {
    display: flex;
    width: 360px;
    align-items: center;
    justify-content: space-between;
    margin-left: 75px;
    margin-right: auto;
}

.section1 .header .menu .links {
    font-family: 'ClashDisplay-Medium';
    font-size: 20px;
    font-weight: 500px;
}

.section1 .header .menu .link {
    font-size: 20px;
    font-weight: bold;
    color: red;
}


/*  .button-block {
                                                                        position: relative;
                                                                        height: 60px;
                                                                        width: 180px;
                                                                        display: flex;
                                                                        align-items: center;
                                                                        justify-content: center;
                                                                    }

                                                                    .button-block .button {
                                                                        position: absolute;
                                                                        width: 100%;
                                                                        height: 100%;
                                                                        z-index: -1;
                                                                    }

                                                                    .button-block .text {
                                                                    color: white;
                                                                    }
                                                                        

                                                                    .header .button {
                                                                        height: 60px;
                                                                        width: 180px;
                                                                        display: flex;
                                                                        align-items: center;
                                                                        justify-content: center;
                                                                        background-image: url('../images/section1/buttons/rectangle-header.svg');
                                                                        /* ../ - вышли на один уровень вверх а оттуда пошли по указанному пути до картинки
                                                                        background-size: cover;
                                                                        color: white;}*/




.section1 .header .button {
    border: 1px solid black;
    border-radius: 5px;
    background: black;
    height: 60px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
}

.section1 .main-block-section1 {
    display: flex;
}

.section1 .text-block .title {
    font-size: 64px;
    font-weight: 700;
    line-height: 5px;
    width: 622px;
    margin-top: 215px;
}

.section1 .text-block .text {
    font-size: 20px;
    line-height: 12px;
    opacity: 0.5;
}


.button-and-watch-video-block {
    margin-top: 50px;
    display: flex;
}

/* .button-and-watch-video-block .button-block {
                                                                                height: 60px;
                                                                                width: 180px;
                                                                                display: flex;
                                                                                align-items: center;
                                                                                padding-left: 30px;
                                                                                padding-right: 30px;
                                                                                background-image: url('../images/section1/buttons/rectangle1.svg');
                                                                                background-size: cover;
                                                                                color: white;
                                                                                justify-content: space-between;

                                                                            } */


.section1 .button-block {
    border: 1px solid black;
    border-radius: 5px;
    background: black;
    height: 60px;
    width: 180px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 25px;
    color: white;
}

.section1 .arrow {
    padding-bottom: 10px;
    padding-left: 10px;
}

.section1 .watch-video-block {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.section1 .watch-video-block .icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}


.section1 .watch-video-block .text {
    display: flex;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.5;
}


.section1 .zigzag-block {
    position: relative;
    left: -25px;
    top: 75px;
}


.section1 .star1 {
    position: absolute;
    left: 1150px;
    top: 19px;

}

.section1 .star2 {
    position: absolute;
    left: -110px;
    top: 110px;

}

.section1 .star3 {
    position: absolute;
    left: 125px;
    top: 690px;

}

.section1 .star8 {
    position: absolute;
    left: 730px;
    top: 730px;

}

.section1 .red-ellipse {
    position: absolute;
    top: 105px;
    left: 55px;
    z-index: -1;
}

/*-------------------------------------------------section2-----------------------------------------------*/



/* Вопросы: Может имеет смысл сделать контейнер для каждой секции, 
ему присвоить position: relative и позиционировать элементы относительно его,
а то получются слишком большие отступы относительно общего контейнера */

/*---------------------------------------------------section3--------------------------------------------------*/