body {
    margin: 0;
    font-family: 'ClashDisplay-Variable';
    background: #FFFFFF
}

.container {
    width: 1100px;
    margin: 0 auto;
    /*set section to center*/
    position: relative;
}

.section4 .main-block {
    display: flex;
    position: relative;
}

/*Вопросы: левую часть в секции 4 смог подвинуть левее границы контейнера только задав ей position absolute. 
Есть ли другой способ?*/

.section4 .main-block .left-part {
    left: -173px;
    top: -115px;
    position: absolute;
}


.section4 .title-block {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}

.section4 .title-block img {
    border: 1px solid red;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background: red;
    padding: 10px;
}

.section4 .title-block .title {
    font-family: 'ClashDisplay-Semibold';
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    text-transform: capitalize;
}


.section4 .right-part {
    width: 500px;
    padding-left: 593px;
    padding-top: 108px;
}


.section4 .text {
    font-family: 'ClashDisplay-Medium';
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    opacity: 0.5;
    width: 558px;
}

.section4 .star6 {
    position: absolute;
    left: 444px;
    top: 2424px;
}


.section4 .star7 {
    position: absolute;
    left: 950px;
    top: 3050px;
}


